
.App {
  text-align: center;
  padding: 10px;
  
}

body{
  background: linear-gradient(to top, rgb(230, 230, 150), white);
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

*{
  font-family: 'Times New Roman', Times, serif;
}

h4{
  font-weight: bolder;
}

header{
  text-align: center;
}

.logo {
  width: 440px; 
}

/* it contains both images div */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper1{
  width: 30%;
}
.image-wrapper2 {
  margin: 10px;
  flex: 1;
  /* width: 80%; */
}

.text,
.bottom-text{
  text-align: left;
}


.image {
  max-width: 90%; 
  height: auto; 
}

.image2{
  max-width: 90%;
  height: auto;
}

.center-heading{
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: small;
}


.center-image{
  text-align: center;
}

.pump-image{
  max-width: 70%;
  
}

.red-line {
  border: none;
  border-top: 2px solid red; 
  width: 96%; 
}


.bucket{
  text-align: center;
}

 .word-list {
  display: flex;
  flex-wrap: wrap;
}

.word {
  margin-right: 5px; 
  font-weight: 500;
  margin-left: 5px;
}

.separator {
  width: 1px; 
  height: 17px; 
  background-color: red; 
  margin-right: 5px; 
}



.bottom-sec{
  text-align: center;
}

.headd{
  font-weight: bolder;
}

.foot-sec{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
  height: 200px;
  max-width: 100%;
  background-color: red;
  color: white;
}

.foot-cont{
  margin: auto;
  display: inline;
  height: 100px;
  width: 400px;
}

.foot-cont p{
  display: inline;
}

.foot-icons{
  width: 30px;
  margin: auto;
}




/* Media queries for responsiveness for mobile devices*/

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .image-wrapper1 {
    width: 100%;
  }

  .image-wrapper2 {
    width: 100%;
  }
}



/* For screens smaller than 576px */
@media screen and (max-width: 576px) {
  .logo {
    width: 70%;
  }

  .image {
    height: auto;
  }

  .image2 {
    height: auto;
  }

  .center-heading {
    font-size: smaller;
  }

  .pump-image {
    max-width: 90%;
  }

  .word-list {
    flex-direction: column;
  }

  .word {
    margin: 5px 0;
  }

  .separator {
    display: none;
  }
}


/* For screens smaller than 480px */
@media screen and (max-width: 480px) {
  .logo {
    width: 90%;
  }

  .image-wrapper1,
  .image-wrapper2 {
    width: 100%;
  }

  .center-heading {
    margin-top: 20px;
  }

  .pump-image {
    max-width: 100%;
  }

  .foot-sec {
    flex-direction: column;
    align-items: center;
  }

  .foot-cont {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foot-cont p {
    margin-left: 10px;
    font-size: smaller;
  }
}

